
@{
    Layout = Layout = "~/Views/Shared/_Layout-RealtorMode.cshtml";
    ViewBag.Title = "Арендатор/покупатель";
}


<form method="post">
    <input type="hidden" value="Buyer" id="typeForm" />
    <input type="hidden" value=@ViewBag.Id name="dialId" />    
    <input type="hidden" value=@ViewBag.type name="type" />    


    <input placeholder="Фамилия" name="LastName" type="text" id="lastname"/>
    <input placeholder="Имя" name="FirstName" type="text" id="firstname" />
    <input placeholder="Отчество" name="Patronymic" type="text" id="patronymic" />
    <input placeholder="Телефон" name="Phone" type="tel" id="phone" />
    <input placeholder="Паспорт" name="Passport" type="text" id="passport"/>
    <select class="form-select" aria-label="default select example" id="CityId" name="CityId" style="width:100px">
        @foreach (var c in ViewBag.Cities)
        {
            <option value=@c.Id>@c.Name</option>
        }
    </select>
    <input placeholder="Адрес" name="Address" type="text" id="address"/>

    <hr />

    <button type="submit" disabled id="btnsave"> Сохранить </button>
</form>
<script src="@Url.Content("~/Scripts/EditRealty.js")" type="text/javascript"></script>