
@{
    Layout = Layout = "~/Views/Shared/_Layout-RealtorMode.cshtml";
    ViewBag.Title = "Редактирование заявки";
}


<form method="post">
    <input type="hidden" value=@ViewBag.Id name="dialId" />    
    <input type="hidden" value=@ViewBag.type name="type" />    


    <input placeholder="Фамилия" name="LastName" type="text" />
    <input placeholder="Имя" name="FirstName" type="text" />
    <input placeholder="Отчество" name="Patronymic" type="text" />
    <input placeholder="Телефон" name="Phone" type="tel" />
    <input placeholder="Паспорт" name="Passport" type="text" />
    <select class="form-select" aria-label="default select example" id="CityId" name="CityId" style="width:100px">
        @foreach (var c in ViewBag.Cities)
        {
            <option value=@c.Id>@c.Name</option>
        }
    </select>
    <input placeholder="Адрес" name="Address" type="text" />

    <hr />

    <button type="submit"> Сохранить </button>
</form>
<script src="@Url.Content("~/Scripts/EditForm.js")" type="text/javascript"></script>