@{
    ViewBag.Title = "Новое объявление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Новое объявление</h3>

<div>
    <form method="post">


        <input type="text" name="LastName" placeholder="Фамилия" />
        <input type="text" name="FirstName" placeholder="Имя" />
        <input type="text" name="Patronymic" placeholder="Отчество" />
        <input type="text" name="Phone" placeholder="Телефон" />


        <input type="submit" value="Далее" />

    </form>

</div>


