@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h3>Поиск недвижимости</h3>

    <ul class="nav nav-pills" id="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Снять</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Посуточно</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Купить</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Ипотека</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/SelectionOfRealtor">Подбор риелтора</a>
        </li>
    </ul>

    <div class="search-form">

        @{Html.RenderPartial("_TabRent");}
        @{Html.RenderPartial("_TabDaily");}
        @{Html.RenderPartial("_TabSale");}
        @{Html.RenderPartial("_TabMortgage");}
    </div>

    
</div>


<script src="@Url.Content("~/Scripts/changeTab.js")" type="text/javascript"></script>
